{# This file is part of EC-CUBE Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved. http://www.ec-cube.co.jp/ For the full copyright and license information, please view the LICENSE file that was distributed with this source code. #} {% extends 'default_frame.twig'
%} {% block main %}
<main id="about">
    <div class="container">

        <div class="ec-role">
            <div class="ec-pageHeader">
                <h1>{{ 'ご利用規約'|trans }}</h1>
            </div>
            <p>ここのファイルは　コンテンツ管理＞ページ管理＞ご利用規約</p>
            
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                {{ ' 
                
                法令等では「寄附」と表記されますが、当サイトでは一般に使用されている「寄付」を使用しております。そのため、当規約でも「寄付」と表記します。 
                    
                第1条(定義) 
                本規約において用いる用語は、別段の定めがある場合を除き、以下のとおりとします。 
                (1)「当自治体」とは、本サービスを利用して本サイトを開設し、寄付金の受付、収納をする地方公共団体をいいます。 
                (2)「本サイト」とは、当自治体が運営するふるさと納税特設サイトをいいます。 
                (3)「本サービス」とは、ふるさと納税制度に従って、特定の地方公共団体への寄付および関連する各手続きを行うことができるサービスをいいます。
                (4)「利用者」とは、本規約に同意の上、本サービスを利用する個人をいいます。 
                (5)「寄付」とは、利用者が本サービスを通じて特定の地方公共団体に金銭を寄付することをいい、かかる金銭を「寄付金」といいます。 
                (6)「返礼品」とは、利用者が寄付を行ったことへの謝礼として、その自治体が利用者に提供する物品またはサービスをいいます。 
                (7)「寄付証明書」とは、利用者が寄付を行ったことを証明する自治体が発行する証明書をいいます。 
                
                第2条(本サービスの概要) 
                1.本サービスは、利用者が本サイトを通じて選択した自治体に対して、寄付金の使いみち、返礼品を指定し、寄付および関連する手続きを行うことのできるサービスです。
                2.当自治体は、利用者に対して会員専用画面を提供し、メールマガジンの配信、広告その他の情報の提供等を行います。 
                
                第3条(利用料) 
                本サービスの利用料は無料です。 
                
                第4条(寄付の申込み方法) 
                1.利用者は、本サイトの画面表示に従い、所定の情報を入力する方法で寄付を行います。 
                2.利用者は、本サイトを通じて寄付の申込みを完了した場合、これを撤回することはできません。 
                
                第5条(寄付金の支払い方法) 
                1. 利用者は、以下のいずれかの支払い方法により寄付を行うことができます。
                    　 クレジットカード（表示されるブランドに限ります。） 
                2. 利用者は、第1項に定める方法を選択する場合、北海道紋別市が指定した指定代理納付者である株式会社DGフィナンシャルテクノロジー（以下「決済事業者」といいます。）を通じて支払います。 
                3. 利用者は、前項の場合、本規約のほか、自己が利用する各支払方法にかかる決済事業者等（指定代理納付）が定める利用規約等の利用条件を遵守するものとします。利用者が当該義務に違反する場合、決済事業者等（指定代理納付）が自治体に対する寄付金の立替払いを行わず、または立替払いを取り消す場合があります。これらの支払方法にかかる利用条件等については、各決済事業者等（指定代理納付）のホームページ等で各自ご確認くださいますようお願いいたします。
                4. 利用者は、自らが選択した支払い方法に応じて本サイト上で要求される所定の情報すべてについて、正確かつ漏れなく入力するものとします。 
                5. 利用者は、自己が選択した支払い方法において支払い期日の指定がある場合には、かかる指定の期日までに支払いを完了させるものとします。 
                6. 利用者は、対応する支払先口座等において寄付金が受領された時点をもって納付がなされたものとします。 
                
                第6条(返礼品申込みおよびイベント参加条件） 
                1. 二十歳未満の方の酒類の返礼品へのお申込みはできません。
                2. 本サービスにおけるイベントにおいて、関連企業よりイベント参加禁止措置を受けている方のイベント参加はできません。 
                
                第7条（免責事項） 
                1.本サイトを利用したウェブサイトの閲覧や情報収集については、情報がユーザーの需要に適合するものか否か、情報の保存や複製その他ユーザーによる任意の利用方法により必要な法的権利を有しているか否か、著作権、秘密保持、名誉毀損、品位保持および輸出に関する法規その他法令上の義務に従うことなど、ユーザーご自身の責任において行っていただきますようお願いいたします。
                本サイトの御利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。 本サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。 
                2.本サイトに情報を掲載する際には、当自治体は細心の注意を払っておりますが、掲載された情報の内容について一切保証をするものではありません。掲載した情報に誤りがあった場合、または本サイトのご利用に際して生じたトラブルについては、一切責任を負いかねます。
また、当社は理由の如何に関わらず、情報の変更及び本サイトの運営の中断または中止によって生じるいかなる損害についても責任を負うものではありません。
本サイトのご利用によって生じたソフトウェア、ハードウェア上のトラブルその他の損害についても、一切責任を負いかねます。なお、本サイトに掲載されている情報等につきましては、予告なく変更、又は削除されることがありますので、予めご了承ください
                
                第8条（サイトポリシー） 
                1.著作権について 
                本サイト上に掲載される文書、写真、イラスト、動画、その他の著作物（以下「コンテンツ」といいます。）は、当自治体、コンテンツの提供者またはその他の第三者有する著作権、特許権、商標権、その他の権利により保護されています。書面による許可なく、個人的な目的以外で使用することは禁止されています。
無断での複製、引用、転送、頒布、上演、改変、修正、追加など一切の行為を禁止いたします。
                2.個人情報について
                当自治体は、個人情報保護方針に基づいて、個人情報を取り扱います。
                3.クッキー（cookie）について
                当自治体は、ご利用者様のアクセス履歴および利用状況の調査のため、その他ご利用者様に最適のサービスを提供するために、当社のサーバにアクセスする際のIPアドレスに関する情報、携帯電話端末でアクセスした場合には携帯端末の機体識別番号に関する情報、およびクッキー（cookie）の技術を使用してお客様のアクセス履歴等に関する情報を収集することがあります。お客様がインターネットブラウザ等でクッキーを拒否するための設定を行った場合、当ウェブサイトのサービスのご利用が一部制限される可能性がありますので、予めご了承ください。
                4.対応ブラウザについて
                ウェブサイトを閲覧する際には、Chrome、Safariの最新版を推奨いたします。これら推奨ブラウザ・OS以外でご覧いただく場合、画面の一部が正しく表示されないことがあります。予め、ご了承ください。また、携帯電話（いわゆるガラケー）ではご利用いただけません。

                第9条（利用規約の改変）
                1.当自治体は次の場合に本規約を更新することがあります。（1）サービスの変更、または業務上の変更（たとえばサービス、機能、技術、価格、特典などを新しく追加、もしくは従来のものを削除した場合）を反映するため。（2）法律、規制、またはセキュリティ上の理由のため。（3）不正または危険な行為を防ぐため。
                2.本規約またはサービス固有の追加規約に重大な変更を加える場合は、合理的な事前の通知を行い、ユーザーが大幅な変更について確認する機会を提供するものとします。ただし、（1）新サービスまたは新機能をリリースする場合、および（2）緊急時（進行中の不正行為を止める必要がある場合、法的要件に対応する必要がある場合など）は除きます。利用者は新しい規約に同意しない場合、自身のコンテンツを削除してサービスの利用を停止するものとします。
                
                '|raw|nl2br }}
                </div>
            </div>
        </div>



    </div>
</main>
{% endblock %}