{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<main id="about">
<div class="container">
    
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'ふるさと納税の仕組みと手続き'|trans }}</h1>
        </div>
    </div>
    <p>ここのファイルは　コンテンツ管理＞ページ管理＞ふるさと納税の仕組みと手続き</p>
<p>FEV作成のページソースを掲載する予定です</p>
    
    
</div>
</main>
{% endblock %}