{# This file is part of EC-CUBE Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved. http://www.ec-cube.co.jp/ For the full copyright and license information, please view the LICENSE file that was distributed with this source code. #} {% extends 'default_frame.twig'
%} {% block main %}
<main id="about">
    <div class="container">


            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <h1>『紋別市ふるさと納税にかかる個人情報の保護』について</h1>
                </div>
            </div>

            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <div class="ec-heading-bold">要旨</div>
                    <p>紋別市のふるさと納税のお申込み・お問合せに伴い収集した個人情報（名前・住所・電話番号・メールアドレス等の個人を特定できる情報、または、組み合わせることで個人を特定できる情報）については、「紋別市個人情報保護条例」（URL）に基づいて適正な管理を行います。</p>
                </div>
            </div>

            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <div class="ec-heading-bold">個人情報の取得と取扱い</div>
                    <p>紋別市のふるさと納税のお申込み・お問合せをいただく際に、お名前・ご住所・電話番号・メールアドレスなどの個人情報をご提供いただいております。 取得した個人情報を取り扱うにあたっては、その利用目的を明示し、当該目的以外には利用いたしません。</p>
                </div>
            </div>

            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <div class="ec-heading-bold">個人情報の利用</div>
                    <p>取得した個人情報は下記の目的で利用させていただく場合がございます。</p>
                    <ul>
                        <li type="disc">紋別市のふるさと納税をお申込みされた方に対し、必要に応じお問合せに対する回答や申込内容の確認、および、ふるさと納税返礼品に関連した限定返礼品・サービス等のご連絡、資料等の送付を行うため、お名前、ご住所、電話番号、メールアドレスなどの連絡先情報を利用する場合</li>
                        <li type="disc">ふるさと納税お申込者に、紋別市ふるさと納税へいただいた寄附のお礼として紋別市ふるさと納税の協賛事業者が提供する商品・サービスである「紋別市ふるさと納税返礼品」の送付を行うため、お名前、ご住所、お電話番号など連絡先情報を利用する場合</li>
                        <li type="disc">紋別市ホームページ、ポータルサイト等において、あらかじめ同意をいただいた紋別市ふるさと納税お申込者のお名前、寄附金額等を公表する場合</li>
                    </ul>
                </div>
            </div>

            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <div class="ec-heading-bold">個人情報の利用の承諾</div>
                    <p>紋別市ふるさと納税のお申込みに際しては、次の事項をあらかじめご承認いただくものとします。</p>
                    <ul>
                        <li type="disc">紋別市ふるさと納税へいただいた寄附のお礼として紋別市ふるさと納税の協賛事業者が提供する商品・サービスである「紋別市ふるさと納税返礼品」をふるさと納税寄附者に送付する際に、お名前・ご住所・お電話番号など、返礼品の送付に必要な情報を協賛事業者に開示すること。</li>
                        <li type="disc">協賛事業者が提供する返礼品・サービスに関するお問合せを受けた場合で、お問合せに対する回答を協賛事業者から直接行うことが適切であると判断した場合に、お問合せの内容およびメールアドレスなどの回答先情報を当該協賛事業者に開示すること。</li>
                        <li type="disc">次の場合において、個人情報を第三者へ提供すること。
                            <ol>
                                <li type="1">裁判所からの法令に基づく開示を命じる判決もしくは命令を受けた場合、または、警察などの公的機関から、捜査権限を定める法令に基づき正式な照会を受けた場合</li>
                                <li type="1">紋別市ふるさと納税の利用に関連して、利用者が法令などに反し、第三者または本市の権利、財産、サービスなどを保護するために必要認められる場合であって、本人の同意を得ることが困難な場合</li>
                                <li type="1">その他、個人情報保護法上において許容される場合</li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <div class="ec-heading-bold">個人情報の保持・管理方法</div>
                    <p>取得した個人情報については、厳重に管理し、紋別市個人情報保護条例に基づき漏えい、不正流用、改ざんなどがないように適切な管理に努めます。</p>
                </div>
            </div>







        </div>


    </div>
</main>
{% endblock %}