{# This file is part of EC-CUBE Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved. http://www.ec-cube.co.jp/ For the full copyright and license information, please view the LICENSE file that was distributed with this source code. #} {% extends 'default_frame.twig'
%} {% block main %}
<main id="about">
    <div class="container">

        <div class="ec-role">
            <div class="ec-pageHeader">
                <h1>{{ '特定商取引法の表示'|trans }}</h1>
            </div>
                        <p>ここのファイルは　コンテンツ管理＞ページ管理＞特定商取引法の表示</p>

            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <p>本サイトはふるさと納税サイトです。特定商取引法の対象となる通信販売ではございませんが、みなさまに安心・安全にご利用いただけるよう、特定商取引法に準じて表示します。</p><br>
                    <div class="ec-borderedDefs">
                        <dl>
                            <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                            <dd>北海道紋別市</dd>
                        </dl>
                        <dl>
                            <dt>
                            <label class="ec-label">運営統括責任者</label>
                        </dt>
                            <dd>紋別市長 宮川良一</dd>
                        </dl>
                        <dl>
                            <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                            <dd>〒094-8707北海道紋別市幸町2丁目1-18</dd>
                        </dl>

                        <dl>
                            <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                            <dd>0120-049-791（平日9：30～17：30）</dd>
                        </dl>

                        <dl>
                            <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                            <dd>
                                <a href="mailto:">furusato@city.mombetsu.lg.jp</a>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                            <dd>
                                <a href="https://moｍbetsu.furusato-direct.jp">https://moｍbetsu.furusato-direct.jp</a>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                            <dd>クレジットカード決済</dd>
                        </dl>

                        <dl>
                            <dt>
                            <label class="ec-label">返礼品の引渡し方法</label>
                        </dt>
                            <dd>運送会社による配送</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>
{% endblock %}