<div class="container">

<section class="info">
<h3>紋別市について</h3>
<ul class="coverlink">
<li><a href="http://13.115.133.43/city_mombetsu"><figure><img src="{{ asset('assets/img/T_about1.png','user_data') }}"><h4>紋別巡り</h4></figure><p>流氷と大地の恵みを活かし、人が輝き躍動するまち。紋別市の魅力を余すことなくご紹介いたします。</p></a></li>
<li><a href="http://13.115.133.43/use"><figure><img src="{{ asset('assets/img/T_about2.png','user_data') }}"><h4>寄付の使い道</h4></figure><p>ふるさと納税の寄付の使い道をご紹介。皆さまからのご厚意が、紋別市の未来を築きます。</p></a></li>
<li><a href="http://13.115.133.43/jigyousya"><figure><img src="{{ asset('assets/img/T_about3.png','user_data') }}"><h4>事業者の紹介</h4></figure><p>お礼の品を提供している紋別市を盛り上げるべく奮闘している事業者の皆さまをご紹介いたします。</p></a></li>
</ul>

</div>