<header>
<div class="container">
<a class="logo" href="{{ url('homepage') }}"><img src="{{ asset('assets/img/logo.png') }}"><span>紋別市<br class="sp">ふるさと納税<br class="sp">総合サイト</span></a>
<nav>
<ul>
<li><a href="{{ url('homepage') }}"><i class="fas fa-walking fa-2x"></i><p>トップへ戻る</p></a></li>
</ul>
</nav>
</div>
</header>