</main>
<a class="totopfade" href="{{ url('homepage') }}"><img src="{{ asset('assets/img/totop.png') }}"></a>
<footer>
  <div class="container inner">
    <a href="{{ url('homepage') }}">
      <p class="logo"><img src="{{ asset('assets/img/logo.png') }}"><span>紋別市ふるさと納税総合サイト</span></p>
    </a>
    <p>紋別市ふるさと納税担当<br>〒094-8707 北海道紋別市幸町2丁目1番18号</p>
    <ul class="snslinks">
      <li><a href="https://www.facebook.com/mombetsucity" target="_blank"><img src="/html/template/default/assets/img/icon_fb.png"></a></li>
      {#<li><a href="" target="_blank"><img src="/html/template/default/assets/img/icon_ig.png"></a></li>#}
    </ul>
    <ul class="subnav pc">
      <li><a href="/guide">ふるさと納税の仕組みと手続き</a></li>
      <li><a href="/help/agreement">ご利用規約</a></li>
      <li><a href="/help/tradelaw">特定商取引法の表示</a></li>
      <li><a href="/help/privacy">個人情報保護方針</a></li>
      <li><a href="/help/about">よくある質問</a></li>
      <li><a href="/contact">お問い合わせ</a></li>
    </ul>
  </div>
  <div class="copyright">
    <p class="container">Copyright &copy; 紋別市 CITY.</p>
  </div>
</footer>