{% extends 'default_frame.twig' %}



{% block main %}
<main id="about">
<div class="container">

<div class="small container">

<h3>紋別市の紹介</h3>

<h4 class="uline">流氷と大地の恵みを活かし、人が輝き躍動するまち。</h4>
<h5>紋別市は、オホーツク海沿岸のほぼ中央に位置し、漁業・農業・林業・水産加工業を基幹産業とした人口約2万3000人のまちです。</h5>
<h6>「紋別市」と言えば何と言っても「流氷」。沿岸を白一色に埋めつくす雄大な景色は圧巻で、ガリンコ号と共に北海道遺産に登録されています。</h6>
<p>紋別市は、オホーツク海沿岸のほぼ中央に位置し、漁業・農業・林業・水産加工業を基幹産業とした人口約2万3000人のまちです。雄大な流氷と広大な大地の恵みを活かし、人が輝き躍動するまちづくりを目指しています。紋別市は、オホーツク海沿岸のほぼ中央に位置し、漁業・農業・林業・水産加工業を基幹産業とした人口約2万3000人のまちです。雄大な流氷と広大な大地の恵みを活かし、人が輝き躍動するまちづくりを目指しています。</p>
<div class="image"><img src="{{ asset('assets/img/about1.png','user_data') }}"></div>
<p>オホーツク海に面した紋別市は、主な産業として、漁業がさかんです。春には流氷のツアーに参加する環境客で賑わいます。<br>
春には流氷のツアーに参加する環境客で賑わいます。オホーツク海に面した紋別市は、主な産業として、漁業がさかんです。春には流氷のツアーに参加する環境客で賑わいます。<br>
雄大な流氷と広大な大地の恵みを活かし、人が輝き躍動するまちづくりを目指しています。</p>

<h4 class="uline">圧巻の景色を楽しめる流氷</h4>
<h5>紋別市は、オホーツク海沿岸のほぼ中央に位置し、漁業・農業・林業・水産加工業を基幹産業とした人口約2万3000人のまちです。</h5>
<h6>「紋別市」と言えば何と言っても「流氷」。沿岸を白一色に埋めつくす雄大な景色は圧巻で、ガリンコ号と共に北海道遺産に登録されています。</h6>
<p>紋別市は、オホーツク海沿岸のほぼ中央に位置し、漁業・農業・林業・水産加工業を基幹産業とした人口約2万3000人のまちです。雄大な流氷と広大な大地の恵みを活かし、人が輝き躍動するまちづくりを目指しています。紋別市は、オホーツク海沿岸のほぼ中央に位置し、漁業・農業・林業・水産加工業を基幹産業とした人口約2万3000人のまちです。雄大な流氷と広大な大地の恵みを活かし、人が輝き躍動するまちづくりを目指しています。</p>
<div class="image"><img src="{{ asset('assets/img/about2.png','user_data') }}"></div>
<p>オホーツク海に面した紋別市は、主な産業として、漁業がさかんです。春には流氷のツアーに参加する環境客で賑わいます。<br>
春には流氷のツアーに参加する環境客で賑わいます。オホーツク海に面した紋別市は、主な産業として、漁業がさかんです。春には流氷のツアーに参加する環境客で賑わいます。<br>
雄大な流氷と広大な大地の恵みを活かし、人が輝き躍動するまちづくりを目指しています。</p>

<h4 class="uline">まるで夢の中にいるようなラベンダー畑</h4>
<h5>紋別市は、オホーツク海沿岸のほぼ中央に位置し、漁業・農業・林業・水産加工業を基幹産業とした人口約2万3000人のまちです。</h5>
<h6>「紋別市」と言えば何と言っても「流氷」。沿岸を白一色に埋めつくす雄大な景色は圧巻で、ガリンコ号と共に北海道遺産に登録されています。</h6>
<p>紋別市は、オホーツク海沿岸のほぼ中央に位置し、漁業・農業・林業・水産加工業を基幹産業とした人口約2万3000人のまちです。雄大な流氷と広大な大地の恵みを活かし、人が輝き躍動するまちづくりを目指しています。紋別市は、オホーツク海沿岸のほぼ中央に位置し、漁業・農業・林業・水産加工業を基幹産業とした人口約2万3000人のまちです。雄大な流氷と広大な大地の恵みを活かし、人が輝き躍動するまちづくりを目指しています。</p>
<div class="image"><img src="{{ asset('assets/img/about3.png','user_data') }}"></div>
<p>オホーツク海に面した紋別市は、主な産業として、漁業がさかんです。春には流氷のツアーに参加する環境客で賑わいます。<br>
春には流氷のツアーに参加する環境客で賑わいます。オホーツク海に面した紋別市は、主な産業として、漁業がさかんです。春には流氷のツアーに参加する環境客で賑わいます。<br>
雄大な流氷と広大な大地の恵みを活かし、人が輝き躍動するまちづくりを目指しています。</p>




<div class="container">
<ul class="pankuzu">
<li><a href="..">HOME</a></li><li>紋別市の紹介</li>
</ul>

</div>

</div>
</main>
{% endblock %}
