{% extends 'default_frame.twig' %}


{% block main %}
<main id="about">
<div class="container">

<div class="small container">
<h3>事業者の紹介</h3>
</div>

<div class="small container">

<p>事業者の紹介のトップページなります</p>

</div><!--/container small-->


<div class="container">
<ul class="pankuzu">
<li><a href="../">HOME</a></li><li>事業者の紹介</li>
</ul>


</div>

</div>
</main>
{% endblock %}