{% extends 'default_frame.twig' %}


{% block main %}
<main id="about">
<div class="container">

<div class="small container">
    
<h3>寄付の使い道</h3>
</div>

<div class="small container">

<p>寄付の使い道トップページなります</p>

</div><!--/container small-->


<div class="container">
<ul class="pankuzu">
<li><a href="../">HOME</a></li><li>寄付の使い道</li>
</ul>
</div>

</div>
</main>
{% endblock %}